<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${editMode} ? '일기장 수정' : '새 일기장 생성'">
      일기장
    </title>
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <style>
      .btn {
        padding: 10px 30px;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <h2
      style="color: #4271a7"
      th:text="${editMode} ? '✏️ 일기장 이름 수정' : '📚 새 일기장 생성'"
    ></h2>

    <!-- 입력창 -->
    <input
      type="text"
      id="diaryName"
      name="name"
      th:value="${diary.name}"
      placeholder="일기장 이름을 입력하세요"
      required
    />

    <!-- 버튼 (JS에서 처리) -->
    <div>
      <button
        type="button"
        id="submitBtn"
        class="btn"
        th:text="${editMode} ? '수정' : '생성'"
      ></button>
    </div>

    <br />
    <a th:href="@{/diary}"><button class="btn">← 목록으로</button></a>

    <!-- JS로 POST or PUT 요청 처리 -->
    <script th:inline="javascript">
      window.editMode = [[${editMode}]];
    </script>
    <script th:inline="javascript">
      window.diaryId = [[${diaryId}]];
    </script>

    <script th:src="@{/js/diary_form.js}"></script>
  </body>
</html>
