<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>환영합니다</title>
    <link rel="stylesheet" th:href="@{/css/session.css}" />
    <link rel="stylesheet" th:href="@{/css/welcome.css}" />
  </head>
  <body>
    <div class="container">
      <h1>일상의 행복을 기록하는 공간</h1>
      <p class="subtitle">DearUS와 함께 매일의 순간을 남겨보세요.</p>
      <div class="link">
        <a th:href="@{/login}">로그인</a> |
        <a th:href="@{/signup}">회원가입</a>
      </div>
    </div>
  </body>
</html>
